<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>... Epiphany ... baby, it's cold outsite ...</title>
  <!--suppress HtmlUnknownTarget -->
  <link rel="stylesheet" href="/style.css">
  <!--suppress HtmlUnknownTarget -->
  <script src="/main.js" type="module"></script>
</head>
<body>
<div class="site" x-data="{menu: 'index'}">
  <header>
    <h1>Epiphany</h1>

    <nav class="main-nav">
      <a href="/">index</a>
      <a href="#" x-on:click="menu = 'adoptions'">adoptions</a>
      <a href="#" x-on:click="menu = 'about'">about</a>
    </nav>
  </header>

  <main class="flow">
    {{ content }}
  </main>

  <nav class="secondary-nav" id="index" x-show="menu === 'index'">
    <img src="/img/petz/siren-2.png" alt="Siren">
  </nav>

  <nav class="secondary-nav" id="adoptions" x-show="menu === 'adoptions'">
    adoptions menu
  </nav>

  <nav class="secondary-nav" id="about" x-show="menu === 'about'">
    about menu
  </nav>
</div>
</body>
</html>