@use 'vars' as *;

/* GLOBAL --------------------------------------------------------------------------------------- */

html {
	height: 100%;
}

body {
	font-family: $font;
	font-size: $fsize;
	letter-spacing: $lspacing;
	padding: 10px;
	color: $text;
}

.nav {
	text-align: center;
	padding: 5px;
}

#main-content {
	margin: 10px;
    padding: 10px;
}

/* CBOX ----------------------------------------------------------------------------------------- */

#cbox-inner {
    position: absolute;
    bottom: 10px;
    left: 10px;
 }

body#cbox {
	padding: 0;
	text-align: center;
}

/* TABLES --------------------------------------------------------------------------------------- */

td {
	padding: 5px;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

/* TEXT ----------------------------------------------------------------------------------------- */

.text {
	text-align: center;
	padding: 0;

	p {
		padding: 5px 0;
	}
}

h1 {
	font-size: $fsize + 1;
	color: $bold;
	text-transform: uppercase;
	font-weight: normal;

	&::before {
		content: url(../images/snowflake.webp);
		padding-right: 5px;
	}

	&::after {
		content: url(../images/snowflake.webp);
		padding-left: 5px;
	}
}

a {
	text-decoration: none;
	color: $accent1;

	&:hover {
	   text-decoration: underline;
		color: $accent2; 
	}
}

strong, em {
	color: $bold;
}

.left {
	text-align: left;
}

h2 {
	color: $bold;
	font-size: inherit;
	font-weight: normal;
	margin-bottom: -10px;

	&::before {
		content: url(../images/candycane.gif);
		padding-right: 5px;
	}

	&::after {
		content: url(../images/candycane.gif);
		padding-left: 5px;
	}
}

.girls {
	color: $girls;
}

.boys {
	color: $boys;
}

.pol {
	font-style: italic;
}

.gone {
	text-decoration: line-through;
}

ul.list {
	list-style-image: url(../images/heart.gif);
}

/* CLIQUES & FANLISTINGS ------------------------------------------------------------------------ */

div.social {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

a.social {
	text-decoration: none;
}

a.social:hover {
	text-decoration: none;
}

/* ADOPTIONS ------------------------------------------------------------------------------------ */

img.adopt { width: 100px; }

form {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.form-item, .form-btns {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    border: 1px solid $accent1;
    background: none;
    font-family: $font;
    font-size: $fsize;
    letter-spacing: $lspacing;
    color: $text;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "label input";

    label {
        grid-area: label;
    }

    input {
        grid-area: input;
    }
}

input[type=submit]:hover, input[type=reset]:hover {
    color: $accent1;

}

/* MISC ----------------------------------------------------------------------------------------- */

img.pet {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.divide {
	margin: 0 auto;
	padding: 10px;
    padding-top: 20px;
	width: 1px;

	&::before {
		content: url(../images/divider.gif);
		margin-left: -119px;
	}
}



.egg {
	display: block;
	text-align: right !important;
	width: 100% !important;
}