@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

$bg: url(../images/bg.png);

// Typography

$font: 'Imprima', sans-serif;
$fsize: 13px;
$lspacing: 1.8px;

// Colors

$text: #000;
$accent1: #d03b3b; // Lighter
$accent2: #901a1a; // Darker
$bold: #28543c;

$girls: #FF8BFF;
$boys: #70BEF0;

// Cursor

html, body, a, a:hover {
   cursor: url(../images/cursor.png);
}