---
layout: layout.liquid
title: Active Links
---

<p>These sites are all currently active! And by active, I mean has updated
  sometime in the past two years. Any other sites can be found on the <a
    href="/links/inactive/">inactive sites</a> page.</p>

<div class="social">
  <a href="https://ri96y.neocities.org/" target="_blank">
    <img src="/img/links/hex-os.png" alt="Hex OS" title="Hex OS">
  </a>

  <a href="https://commander.bravesites.com/" target="_blank">
    <img src="/img/links/powerhouse.jpg" alt="Powerhouse" title="Powerhouse">
  </a>

  <a href="https://www.fantazzled.com/directory/index.html" target="_blank">
    <img src="/img/links/petzsitedirectory.png" alt="Petz Site Directory"
      title="Petz Site Directory">
  </a>

  <a href="https://homebody.eu/lf/" target="_blank">
    <img src="/img/links/littersfactory.png" alt="Litterz Factory"
      title="Litterz Factory">
  </a>

  <a href="https://www.oasis.fantazzled.com/" target="_blank">
    <img src="/img/links/oasis.gif" title="Oasis" alt="Oasis">
  </a>

  <a href="https://moonflowerpetz.neocities.org/moonflower.html"
    target="_blank">
    <img src="/img/links/moonflower.png" title="Moonflower" alt="Moonflower">
  </a>

  <a href="https://kel.rainbow-muffin.org/" target="_blank">
    <img src="/img/links/middlenight.gif" title="middle night"
      alt="middle night">
  </a>

  <a href="https://hemlighet.eu/" target="_blank">
    <img src="/img/links/hemlighet.png" title="Hemlighet" alt="Hemlighet">
  </a>

  <a href="https://cargo-petz.neocities.org/" target="_blank">
    <img src="/img/links/cargo.png" title="Cargo" alt="Cargo">
  </a>

  <a href="https://cookie-planet.neocities.org/" target="_blank">
    <img src="/img/links/cookieplanet.png" title="cookie planet cattery"
      alt="cookie planet cattery">
  </a>

  <a href="http://decemberpetz.atwebpages.com/index.html" target="_blank">
    <img src="/img/links/december.png" title="December" alt="December">
  </a>

  <a href="http://www.sardonyx-petz.com/" target="_blank">
    <img src="/img/links/Sardonyx.PNG" title="Sardonyx" alt="Sardonyx">
  </a>

  <a href="http://funfetti.net/" target="_blank">
    <img src="/img/links/funfetti.gif" title="funfetti" alt="funfetti">
  </a>

  <a href="http://cremelo.funfetti.net/" target="_blank">
    <img src="/img/links/cremelo.png" title="cremelo" alt="cremelo">
  </a>

  <a href="http://soleil.funfetti.net/" target="_blank">
    <img src="/img/links/soleil.png" title="soleil" alt="soleil">
  </a>
</div>

<!-- big -->
<div class="social">
  <a href="http://www.pineconecattery.com/" target="_blank">
    <img src="/img/links/pinecone.jpg" title="Pine Cone Cattery"
      alt="Pine Cone Cattery">
  </a>
</div>

<p>
  <a href="http://aniseedpetz.weebly.com/" target="_blank">Aniseed</a><br>
  <a href="https://www.mythicsilence.com/malevolent/index.htm"
    target="_blank">Mythic Silence</a><br>
  <a href="https://alohomorapetz.carrd.co/#" target="_blank">alohomora</a><br>
  <a href="https://rosalie.neocities.org/" target="_blank">rosalie</a><br>
  <a href="https://macaronkc.weebly.com/" target="_blank">Macaron Kennels &
    Cattery</a><br>
  <a href="https://pkcrebooted.co.uk/standards" target="_blank">Petz Kennel
    Club</a>
</p>
