@layer base {
    body {
        font-family: var(--t-face);
        color: var(--c-text);
        letter-spacing: var(--t-spacing);
        font-size: var(--t-step-0);
        background: var(--bg);
    }
}