@layer layout {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site {
        display: grid;
        grid-template:
            '.      .'      1.5fr
            'header header' 0.5fr
            's-nav  main'   2.5fr / 1fr 5fr;
        grid-column-gap: var(--space-s);

        width: 1024px;
        height: 768px;
        padding: var(--space-xs);
        background: url('/img/theme/baby-its-cold-outside/bg.png');
        border: 1px solid hsl(233deg 66% 20%);
    }

    header {
        grid-area: header;
        align-self: end;
        padding-right: var(--space-xs);
        padding-bottom: var(--space-2xs);
        text-align: end;

        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        column-gap: var(--space-m);
    }

    .main-nav {
        display: flex;
        column-gap: var(--space-xs);
    }

    main, .secondary-nav {
        background-color: rgba(255, 255, 255, 0.49);
    }

    main {
        --flow-space: var(--space-xs);

        grid-area: main;
        padding: var(--space-s);
        overflow: auto;
        text-align: center;
    }

    .secondary-nav {
        --flow-space: 0.75em;

        grid-area: s-nav;
        padding: var(--space-s);
        text-align: center;
    }

    .secondary-nav a {
        display: block;
    }

    .main-nav a, .secondary-nav a {
        text-transform: lowercase;
    }

    .divide {
        display: inline-block;
        width: 239px;
        height: 20px;
        margin-block-start: var(--space-m);
        background: url('/img/theme/baby-its-cold-outside/divider.gif');
    }
}