<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>... Epiphany ... baby, it's cold outsite ...</title>
  <!--suppress HtmlUnknownTarget -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="site">
  <header>
    <h1>Epiphany</h1>
  </header>

  <main class="flow">
    <p>Hello and welcome to Epiphany Petz! This is a Petz 4 website.</p>

    <p>If there are any broken links or typos, please let me know in the
      cbox!</p>

    <div class="divide"></div>

    <h2>Affiliate Sites</h2>

    <p><a href="https://harvestpetz.neocities.org/" title="harvest">scribble @
        harvest</a></p>

    <div class="divide"></div>

    <h2>Updates</h2>

    <p><a href="/updates/">update archive</a></p>

    <h3>14 Nov 2022</h3>

    <p>Christmas theme up (:</p>

    <h3>15 Mar 2022</h3>

    <p>Epiphany has moved! I got my own domain a week or two ago and have
      finally finished setting it up and moving Epiphany over. I also updated
      the layout, so it doesn't use frames anymore, keeps things a bit cleaner.
      I even learned a little jquery to do so *shudder*.</p>

    <p><a href="https://punkfairie.net/" target="_blank">punkfairie.net</a> now
      has my own personal site on it as well! It's been a looonggg time since
      I've had a personal site, I'm super excited to have a little space again,
      for whatever I feel like posting :)</p>
  </main>

  <nav></nav>
</div>
</body>
</html>